* {outline: 1px solid purple;}

body {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-weight: normal;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
   }
header, main, footer{
    margin: 0 auto;
    width: 1200px;
    padding-right:31px;
    padding-left:31px;
}
h1, h2{
	font-size: 21px;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	margin: 30px 0;
	padding:0;
}
h1 {
	color: #000000;
	text-align: center;
}
h2 {
	line-height: 21px;
	color: #000000;
}
section{
    width:100%;
}
ul li{
    list-style-type:none;
}
.nav {
    text-align: center;
    text-transform: uppercase;
    padding-left: 0px;
    margin-top: 0px;
    font-weight:bold;
}
.nav li {
display: inline-block;
vertical-align:top;
width:20%;
padding-top: 23px;
}
.nav li a {
text-align: center;
text-decoration:none;
color:#000000;
}
.nav li:nth-child(3) {
padding-top:0;
}
.nav li img {
position:absolute;
padding-left: 50px;
}
.nav a:hover {
color:#81b3d2;
}
header {
width:1200px;
text-align: center;
}
.header-image {
padding-top:76px;
margin-top: -7px;
height: 432px;
background:
url(../img/headerpic2.png) no-repeat 0px 451px,
url(../img/mountains.png) no-repeat;
background-size: 100%;
}
.item {
width:400px;
vertical-align:top;
text-align: center;
text-transform: uppercase;
}
.item, .item-foto {
display:inline-block;
}
.pic-1 img {
margin-top:60px;
}
.pic-2 img {
margin-top:62px;
}
.pic-3 img {
margin-top:56px;
}
.top {
padding-top:61px;
padding-bottom:56px;
text-align: center;
text-transform: uppercase;
}
.search {
text-transform: uppercase;
text-align:center;
padding-top: 27px;
padding-bottom: 0px;
}
.search a {
text-decoration:none;
background-color: #766357;
color:#FFF;
padding: 35px 140px;
font-weight: bold;
font-size: 21px;
margin-top: 40px;
display: inline-block;
}
footer {
text-align: center;
width:1200px;
}
.share, .social, .made{
display:inline-block;
vertical-align: middle;
width:400px;
text-align: center;
text-transform: uppercase;
padding-top:40px;
padding-bottom:40px;
}
.social a {
display:inline-block;
width:46px;
background-color:#81b3d2;
margin-right:6px;
vertical-align: middle;
text-decoration:none;
color:#FFF;
}
.social a:hover {
background-color:#669ec0;
}
.icon-twitter-bird {
padding:17px 0;
font-size:19px;
}
.icon-facebook {
padding-top:16px;
padding-bottom:18px;
font-size:19px;
}
.icon-youtube {
padding:15px 0;
font-size:23px;
}
.made span, img {vertical-align:middle;}
.blue {
background-color:#81b3d2;
color:#FFF;
    padding-top: 23px;
    padding-bottom: 46px;
}
.blue h2{
color:#FFF;
}
.grey {
background-color:#eeeeee;
    padding-top: 20px;
    padding-bottom: 32px;
}
.footer div {
padding-right:
}
.select {
background: url(../img/mountains.png) no-repeat;
margin-top: -7px;
color:#FFF;
}
.select h2 {
color:#FFF;
}
.infrastructure, .house, .price{
display:inline-block;
vertical-align: top;
margin-top: 0px;
padding-bottom:30px;
width:300px;
}
.price {
width:600px;
}
.price h2, .price div {
padding-left:200px;
}
.price  input[type="button"] {
margin-left: 250px;
}
article{
padding: 30px 0;
}
article a {
text-decoration:none;
}
.found, .sorting, .switch, .foto, .description, .rating{
display:inline-block;
vertical-align:top;
}
.found, .foto{
width:235px;
text-align: center;
}
.found {
text-align:center;
padding-top: 31px;
font-weight:bold;
font-size:21px;
}
.sorting, .description{
width: 780px;
}
.description h2 {
margin:0px;
}
.description h2:hover {
color:#92bdd8;
}
.sorting {
padding-top: 31px;
padding-bottom:37px;
font-size:12px;
}
.switch, .rating{
width: 185px;
padding-top:16px;
}
.rating {
vertical-align:middle;
padding-top:0px;
}
.rating > span {
    display: block;
    padding-left: 17px;
    width: 97px;
    background-color: #f2f2f2;
    color: #8b8b8b;
}
.stars {
text-align: right;
padding-right: 72px;
color:#81b3d2;
}
.sort {
display: inline;
}
.sort li {
display: inline-block;
vertical-align:middle;
margin-right:32px; /*????*/
}
.sort li a {text-align: center;
text-decoration:none;
}
.param-1 a:active{
color:#81b3d2;
}
.param-2 a, .param-3 a{
color:#b7b7b7;
border-bottom:1px dashed #81b3d2;
}
.param-2 a:hover, .param-3 a:hover{
color:#81b3d2;
border-bottom:1px dashed #81b3d2;
}
.sort-button {
margin-right:72px;
font-size:23px;
text-align: right;
}
.sort-button li {
display: inline-block;
vertical-align:middle;
}
.sort-button a{
text-decoration:none;
color:#b7b7b7;
}
.sort-button a:hover{
color:#000;
}
.active a:active {
color:#81b3d2;
}
.icon-star {
display:inline-block;
}
.info a, .reserv a {
text-align: center;
text-decoration:none;
padding:8px 17px;
color:#FFF;
margin-top:30px;
line-height: 33px;
}
.info a:hover {
background-color:#669ec0;
}
.reserv a:hover {
background-color:#604e43;
}
.reserv, .info {
display:inline-block;
line-height:20px;
vertical-align:middle;
padding-top:18px;
}
.brown {
background-color:#766357;
}


